:root {
  --blanco: #ffffff;
  --gris1: #edf2f6;
  --gris2: #2f3848;
  --gris3: #1a202d;
  --negro: #000000;
  --headingFont:'Raleway', sans-serif;
  --textFont:  'Roboto', sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
} 
html {
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%; 
}
body {
  min-height: 100%;
  background-color: var(--gris1);
  font-size: 16px; 
  font-size: 1.6rem;
  font-family: var(--textFont);
}


h1, h2 {
  font-family: var(--headingFont);
  font-weight: 900;
  margin: 0 0 4rem 0;
  text-align: center;
  color: var(--gris2);
}
h1 span {
  font-weight: 400;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.4rem;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: var(--gris2);
}

/** BOTONES **/
.btn {
  margin-top: 2rem;
  font-family: var(--headingFont);
  padding: 1.5rem;
  font-size: 1.4;
  font-weight: 400;
  border-radius: .5rem;
  border: none;
  transition: background-color .3s ease;
}
.btn-proyecto {
  margin-top: 2rem;
  font-family: 'Alex Brush', cursive;
  padding: 1.5rem;
  font-size: 15px;
  font-weight: 500;
  border-radius: .5rem;
  border: solid 2px black;
  transition: background-color .3s ease;
  display: block;
  background-color: rgb(238, 231, 231); 
  width: 100%;
  text-align: left;
}
.btn-proyecto:focus {
  outline: none;
  box-shadow: 0 0 5px 3px rgba(63, 63, 78, 0.5);
}
.btn-proyecto:hover {
  cursor: pointer;
  background-color: #e1dede;
}
.btn-activo {
  outline: none;
  box-shadow: 0 0 5px 3px rgba(9, 9, 89, 0.5);
  background-color: #e7e2e2;
}
.btn:hover {
  cursor: pointer;
}
.btn-primario {
  background-color: var(--gris2);
  color: var(--blanco);
}
.btn-primario:hover {
  background: var(--gris3);
}
.btn-primario-editar {
  margin-top: 2rem;
  font-family: var(--headingFont);
  padding: 1.5rem;
  font-size: 1.4;
  font-weight: 400;
  border-radius: .5rem;
  border: none;
  transition: background-color .2s ease; /* Agregar la propiedad transition para font-size */
  background-color: var(--gris2);
  color: var(--blanco);
  width: 100%;
  display: block;
  height: 65px;
}
.btn-primario-editar:hover {
  background-color: #2b3240;
}
.btn-primario-editar-lista {
  margin-right: 12px;
  font-family: var(--headingFont);
  padding: 1.5rem;
  font-size: 1.4;
  font-weight: 400;
  border-radius: .5rem;
  text-align: center;
  border: none;
  transition: background-color .2s ease, font-size .2s ease, font-weight .2s ease; /* Agregar la propiedad transition para font-size */
  background-color: var(--gris2);
  color: var(--blanco);
  height: 45px;
}
.btn-primario-editar-lista:hover {
  background-color: #2b3240;
  font-size: 1.7rem;
}
.btn-secundario {
  background-color: rgb(225, 222, 222);
}
.btn-secundario:hover {
  background-color: rgb(237, 236, 236);
}
.btn-secundario2 {
  background-color: rgb(225, 222, 222);
  margin-left: 15px;
}
.btn-secundario2:hover {
  background-color: rgb(237, 236, 236);
}
.btn-delete {
  background-color: rgb(241, 16, 16);
  color: #ffffff;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-submit:hover {
  background-color: var(--gris2);
}
.btn-submit2 {
  margin-right: 15px;
}
.btn-submit2:hover {
  background-color: rgb(15, 16, 34);
}
.btn-blank {
  margin: 0;
  padding: 0;
  display: block;
  background-color: transparent;
}
.cerrar-sesion {
  color: var(--blanco);
}
.cerrar-sesion:hover {
  font-weight: 550;
  color: #ccc;
}
.btn-desc {
  margin-top: 2rem;
  font-family: var(--headingFont);
  padding: 1.5rem;
  font-size: 1.4;
  font-weight: 400;
  border-radius: .5rem;
  border: none;
  transition: background-color .3s ease;
  background-color: darkkhaki;
}
.btn-desc:hover {
  background-color: rgb(159, 153, 74);
}

@media (min-width: 768px) {
  .contenedor-app {
      display: flex;
      min-height: 100vh;
  }

  aside {
      background-color: var(--blanco);
      flex: 0 0 300px;
  }
  .seccion-principal {
      flex: 1;
  }
  .border {
    border-radius: 5px;
  }
}


/* BARRA LATERAL */
aside  {
  padding: 3rem;
}

.formulario-nuevo-proyecto {
  margin-top: 6rem;
}
.formulario-nuevo-proyecto .input-text {
  border-bottom: 1px solid var(--gris2);
  border-radius: 0;
  background-color: var(--gris1);
}
.formulario-nuevo-proyecto .input-text::placeholder{
  color: var(--gris2);
}
.proyectos {
  margin-top: 10rem;
}
.listado-proyectos li {
  margin-bottom: 2rem;
}
.listado-proyectos li a {
  font-size: 1.4rem;
  color: var(--gris2);
  line-height: 1.5;
  font-weight: 300;
}
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gris2);
  padding: 4rem;
}
.nombre-usuario {
  color: var(--blanco);
  font-size: 2.2rem;
  margin: 0;
}
.nombre-usuario span {
  font-weight: 900;
}
.nav-principal a {
  color: var(--blanco);
  text-decoration: none;
}
.nav-principal a:first-of-type {
  margin-right: 2rem;
}

/** Formulario crear y editar tareas **/
.formulario {
  background-color: var(--gris3);
  padding: 4rem;
}
.formulario form {
  max-width: 600px;
  margin: 0 auto;
}
.contenedor-input {
  display: flex;
}
.contenedor-input label {
  margin-bottom: 1rem;
  color: var(--blanco);
}
.input-text {
  padding: 1rem;
  border: none;
  border-radius: .5rem;
  flex: 1;
  width: 100%;
}
.tarea-action {
  color: #e1e1e1;
  padding: none;
  border: none;
  text-align: center;

}

/** TAREAS LISTADO **/
.contenedor-tareas {
  padding: 4rem;
}



.listado-tareas {
  max-width: 600px;
  margin: 0 auto;
}

.tarea {
  display: flex;
  justify-content: space-between;
  background-color: var(--blanco);
  padding: .5rem 2rem;
  align-items: center;
  margin-bottom: 1rem;
  border-radius: .5rem;
}
.sombra {
  -webkit-box-shadow: 0px 4px 10px -3px rgba(117,117,117,1);
  -moz-box-shadow: 0px 4px 10px -3px rgba(117,117,117,1);
  box-shadow: 0px 4px 10px -3px rgba(117,117,117,1);
}
.sombra-dark {
  -webkit-box-shadow: 0px 6px 11px -8px rgba(0,0,0,0.9);
  -moz-box-shadow: 0px 6px 11px -8px rgba(0,0,0,0.9);
  box-shadow: 0px 6px 11px -8px rgba(0,0,0,0.9);
}
.tarea .acciones .btn:first-of-type {
  margin-right: 1rem;
}
.tarea .acciones .btn:not(:last-of-type) {
  margin-right: 15px;
}
.tarea .acciones .btn {
  border-radius: .5rem;
}
.tarea p {
  font-size: 1.6rem;
  flex: 1;
  padding-right: 2rem;
}
.tarea .btn {
  padding: .8rem;
  font-size:1.4rem;
  border-radius: 0;
  margin: 0;
}

.estado {
  margin-right: 1rem;
}
.estado button, 
.mensaje {
  font-weight: 900;
  font-family: var(--textFont);
  font-size: 1rem;
  padding: .5rem;
  border-radius: .5rem;
  cursor: pointer;
  border: none;
}
.mensaje {
  text-align: center;
  font-size: 1.6rem;
  border-radius: 0;
}
.mensaje:hover {
  cursor: default;
}
.correcto {
  background-color: rgba(25, 97, 25, 0.3);
  color: var(--gris3);
}
.completo {
  background-color: rgba(25, 97, 25, 0.3);
  color: var(--gris3);
  width: 85px;
}
.incompleto{
  background-color: rgba(255, 178, 178, .4);
  color: var(--gris3);
  width: 85px;
}
.error {
  max-width: 600px;
  margin: 2rem auto 0 auto;
  background-color: rgb(170, 0, 0);
  color: var(--blanco);
}



.tarea-enter,
.proyecto-enter {
  opacity: 0;
}
.tarea-enter-active,
.proyecto-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.tarea-exit,
.proyecto-exit {
  opacity: 1;
}
.tarea-exit-active,
.proyecto-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.form-usuario {
    background-color: var(--gris2);
    height: 100vh;
    min-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-form {
    padding: 5rem 3rem;
    max-width: 500px;
    width: 95%;
    background-color: var(--blanco);
    border-radius: 1rem;
}

.campo-form {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
}
.campo-form:last-of-type {
  margin: 0;
}
.campo-form label {
  flex: 0 0 100px;
  font-family: var(--textFont);
}
.campo-form input[type="password"],
.campo-form input[type="email"], 
.campo-form input[type="text"] {
  border: 1px solid #e1e1e1;
  padding: 1rem;
  flex: 1;
}

.enlace-cuenta {
  margin-top: 2rem;
  display: block;
  opacity: .7;
}

.alerta {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 3rem;
  border-radius: 1rem;
  font-family: var(--headingFont);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2.2rem;
  text-align: center;
  width: 100%;
}
@media (min-width:768px) {
  .alerta {
      width: auto;
      top: 30px;
      right: 10px;
      left: auto;
  }
}
.alerta-ok {
  background-color: rgb(109, 211, 109);
  color: rgb(2, 103, 2);
}
.alerta-error {
  background-color: rgb(230, 78, 78);
  color: var(--blanco);
}

/** Para la Alerta de elimidar **/
.alerta-eliminar {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

.alerta-eliminar h1 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.alerta-eliminar-true {
  background-color: #f44336;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
  margin-right: 10px;
  padding: 10px 20px;
  border-radius: 5px;
}

.alerta-eliminar-null {
  background-color: #4a4343;
  border: none;
  color: #f2eaea;
  cursor: pointer;
  font-size: 1.5rem;
  margin-right: 10px;
  padding: 10px 20px;
  border-radius: 5px;
}

.alerta-eliminar-true:hover {
  background-color: #d32f2f;
}

.alerta-eliminar-null:hover {
  background-color: #0b0b0b;
}

/* Estilos para el cuadro de descripción */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.block-notas {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: 50%;
  max-width: 600px;
  animation: show-block 0.3s ease;
}

.tituloD {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.campo-formD {
  margin-bottom: 20px;
}

.botonesD {
  display: flex;
  justify-content: center;
}

.btnD {
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  font-weight: bold;
}
.btnC {
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  font-weight: bold;
}

.btnD:hover {
  cursor: pointer;
  opacity: 0.8;
}

.btn-primarioD {
  color: #fff;
  background-color: #4d94ff;
}

.btn-secundarioD {
  color: #15171a;
  background-color: transparent;
  border: 1px solid #4d94ff;
}

.btn-secundarioD:hover {
  background-color: #4d94ff;
  color: #0f0f0f;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

textarea {
  display: block;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

textarea:focus {
  outline: none;
  border-color: #4d94ff;
  box-shadow: 0 0 0 0.2rem rgba(77, 148, 255, 0.25);
}











